@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Silkscreen", cursive;
}

body {
  background-color: goldenrod;
}

.pagetitle {
  text-align: center;
  font-size: 80px;
}
.bottomtitle {
  text-align: center;
  transform: translateY(900px);
}
/*React Components */

.wrapper {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 400px;
  padding: 10px;
  background-color: darkslategray;
  border-radius: 5%;
}

.buttonBox {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;
}

.display {
  height: 100px;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  background-color: wheat;
  border-radius: 10px;
  display: flex;
  align-items: center;
  text-align: right;
  color: black;
  font-weight: bold;
  box-sizing: border-box;
  font-size: 70px;
}
